[Desktop Entry]
Name=AyuGram Desktop
Comment=Desktop version of AyuGram - ToS breaking Telegram client
TryExec=AyuGram
Exec=AyuGram -autostart
Icon=com.ayugram.desktop
Terminal=false
StartupWMClass=AyuGram
Type=Application
Categories=Chat;Network;InstantMessaging;Qt;
MimeType=x-scheme-handler/tg;x-scheme-handler/tonsite;
Keywords=tg;chat;im;messaging;messenger;sms;telegram;tdesktop;
Actions=quit;
SingleMainWindow=true
X-GNOME-UsesNotifications=true
X-GNOME-SingleWindow=true

